body {
    background-color: #39A2AE;
}

footer {
    background-color: #561F37;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

nav {
    background-color: #561F37;
    font-family: 'Bebas Neue', cursive;
    padding-top: 2%;
    padding-bottom: 2%;
}

li, .card-title, h1 {
    font-family: 'Bebas Neue', cursive;
}

.card {
    opacity: 0.8;
}

a {
    color: black;
}

.icon {
    width: 8%;
}